@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Shadows Into Light', cursive;
    /*background: #FFECD1;*/
    color: #001524;
}

.nav-logo {
    height: 40px;
    width: 40px;
    transition: transform .2s ease;
}

.nav-logo:hover {
    transform: rotate(360deg)
}

.logo-text {
    font-family: 'Shadows Into Light', cursive;
    color: #c4122f;
}

.topImage {
    background-image: url("assets/header_image.jpg");
    width: 100%;
    height: 40vh;
    object-fit: cover;
    background-size: cover;
}

.title {
    font-weight: bold;
}

.button {
    width: 150px;
}

.restaurant, .pizza {
    max-width: 570px;
    width: 100%;
    border-radius: 5px;
}

.home-food {
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
}

.ingredients-pizza {
    max-width: 300px;
    width: 100%;
}

.menu-text {
    border-bottom: 3px solid black;
    color:#c4122f;
}

.item-text {
    border-bottom: 1px solid gray;
    color:#c4122f;
}

.fa-brands:hover {
    cursor: pointer;
}

.logo-color {
    color: #c4122f;
}

.active {
    color: #c4122f !important
}